$dkblue: #1814FF;
$keybg: #000;

body, div, img
{
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font: 16px helvetica, arial, sans-serif;
    background: white;
}

div.container { width: 900px; margin: 10px auto; }

h1 { 
    font-size: 200%; 
    text-align: center; 
    color: $dkblue;
}

div#g-holder { 
    height: 300px; 
    overlow: hidden; 
    background: white url('/gal-BG.png') no-repeat; }

a.button {
    display: inline-block;
    line-height: 40px;
    height: 40px;
    margin: 10px 10px 10px 0;
    padding: 0 15px;
    font-size: 18px;
    text-decoration: none;
    border-radius: 20px;
    background: $dkblue;
    color: white;
}

a.key {
    display: block;
    float: left;
    line-height: 40px;
    height: 40px;
    width: 40px;
    margin: 10px;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    border-radius: 15px;
    background: $keybg;
    color: white;
    box-shadow: 2px 2px 5px #444;
}

div.keygap {
    display: block;
    float: left;
    height: 40px;
    width: 40px;
    background: white;
    color: white;
    margin: 10px;
}

div.holder { overflow: hidden; padding-left: 70px; }

div.word-holder {
   overflow: hidden;
   background: White url('/word-BG.png') no-repeat;
   height: 50px;
   line-height: 50px;
   padding: 0 0 0 100px;
   font-size: 20pt;
}

div.bad-holder {
   overflow: hidden;
   background: #7f0000 url('/used-BG.png') no-repeat;
   height: 50px;
   padding: 0 0 0 90px;
}

div.tile {
    display: block;
    float: left;
    font-size: 20pt;
    height: 30px;
    line-height: 30px;
    width: 30px;
    margin: 10px 5px 0 0;
    text-align: center;
    text-decoration: none;
    border: 2px solid black;
    background: white;
    color: red;
    box-shadow: 2px 2px 4px #444;
}

p.bottom {
    margin-top: -68px;
    margin-left: 190px;
    font-size: 32px;
    color: white;
}


/*** DEBUG ONLY ***/

.debug { margin-top: 50px; }
